/* Footer */

#footer {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    padding: 20px 20px;
    text-align: center;
  }
  
  /* Social Media Links */
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.9;
  }
  
  .fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
    color: #ffffff;
  }